<div class="payone-form payone-e-wallet-form">
    <h3>{{ 'payment.payone.e_wallet' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.Payone_e_wallet.wallettype) }}
    </div>
</div>