<div class="payone-form payone-prepayment-form">
    <h3>{{ 'payment.payone.prepayment' | trans }}</h3>
    <div class="field">
        {{ form_widget(form.Payone_prepayment.paymentMethod) }}
    </div>
</div>
